.About {
  margin-top: var(--navbarHeight);
  background-image: url("../../assets/home/_DSC9786.png");
  background-size: cover;
  display: flex;
}

.Column {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@media (max-width: 768px) {
}
