.ItemDetail {
  z-index: 1000;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  transition: top 0.5s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Card {
  width: 70%;
  height: 85%;
  border-radius: 8px;
  padding: 24px;
  background-color: white;
  cursor: auto;

  display: flex;
  gap: 8px;
}

.Column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Column h1 {
  background-color: black;
  color: white;
  display: inline-block;
  border-radius: 8px;
  padding: 8px;
}

.ImgItem {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.ImgItem img {
  height: 100%;
}
