.Header {
  margin-top: var(--navbarHeight);
  height: 480px;
  display: flex;
  position: relative;
  margin-bottom: 80px;
}

.Column {
  background-color: var(--primmaryColorOpacity);
  border-radius: 0 160px 160px 0;
  width: 480px;
  padding: 24px;
  color: white;
  position: absolute;
  bottom: -64px;
  left: 0;
  z-index: 10;
  animation: example 0.5s ease-in-out 0s 1 forwards;
}

.Column h1 {
  font-family: "Raleway", sans-serif;
}

@keyframes example {
  from {
    margin-left: -480px;
  }
  to {
    margin-left: 0;
  }
}

.Album {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  position: relative;
  background-color: white;
}

.Album img {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: left 0.75s ease, opacity 2s ease;
}

.ColumnRight {
  position: absolute;
  display: flex;
  right: 0;
  bottom: -20px;
  z-index: 10;
}

.Ball {
  margin: 0 8px;
  border-radius: 80px;
  height: 10px;
  width: 10px;
  z-index: 100;
  transition: all 0.5s ease;
  background-color: var(--primmaryColor);
}

.Active {
  background-color: rgba(255, 255, 255, 0.7);
}

.Ball:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .Column {
    background-color: var(--primmaryColorOpacity);
    border-radius: 0 160px 160px 0;
    width: 100%;
    padding: 24px;
    color: white;
    position: absolute;
    bottom: -64px;
    left: 0;
    z-index: 1;
    animation: example 0.5s ease-in-out 0s 1 forwards;
  }

  .Header {
    height: 360px;
  }

  .Column h1 {
    font-size: 1.5rem;
  }

  .Column p {
    font-size: 1rem;
  }

  .Ball {
    display: none;
  }
}
