.Header {
  margin-top: var(--navbarHeight);
  height: 540px;
  display: flex;
  position: relative;
}

.Column {
  background-color: var(--primmaryColorOpacity);
  border-radius: 0 160px 160px 0;
  width: 480px;
  padding: 16px 24px;
  color: white;
  position: absolute;
  bottom: 64px;
  left: 0;
  z-index: 1;
}

.Album {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.Album img {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: left 1s ease-in-out;
}

@media (max-width: 768px) {
}
