.Div {
  height: 480px;
  margin-bottom: 120px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-image: url("../../../assets/headerBg.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.Block {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 1)
  );
  width: 100%;
  height: 64px;
}

.Container {
  display: flex;
  align-items: center;

  position: relative;
  margin: 0 var(--horizontalMargin);
  padding: 16px;
  background-color: white;
  bottom: -120px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Bar {
  width: 4px;
  background-color: black;
  height: 80%;
  margin: 24px;
}

.Container h1 {
  flex: 1;
  color: black;
  font-size: 3rem;
}

.Container p {
  flex: 1;
  color: black;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .Bar {
    height: 4px;
    width: 80%;
    margin: 24px;
  }

  .Container {
    flex-direction: column;
  }
  .Container h1 {
    font-size: 2rem;
    text-align: center;
  }

  .Container p {
    font-size: 1rem;
    text-align: center;
  }
}
