.Container {
  position: relative;

  display: inline-flex;
  flex-direction: column;

  border-radius: 8px;
  min-height: 320px;
  cursor: pointer;
  background-image: var(--img);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;

  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes example {
  from {
    top: var(--initial-top);
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.SubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 48px;
}

.Container:hover {
  border-color: var(--primmaryColor);
}

.Container:hover .SubContainer {
  background-color: var(--primmaryColor);
}

.Title {
  text-align: center;
  font-size: 16px;
  color: white;
}

.ImageLoading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageContainer img {
  width: 100%;
}
