.Container {
  display: inline-flex;
  flex-direction: column;

  border-radius: 8px;
  height: 240px;
  transition: all 0.25s ease-in;
  cursor: pointer;
  background-image: var(--img);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.SubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-in;
  height: 50px;
}

.Container:hover {
  border-color: var(--primmaryColor);
}

.Container:hover .SubContainer {
  background-color: var(--primmaryColor);
}

.Title {
  text-align: center;
  font-size: 1rem;
  color: white;
}

.ImageLoading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
