.Container {
  margin: 0 var(--horizontalMargin);
  margin-bottom: 64px;
}

.Title {
  font-size: 3rem;
  margin: 16px 0;
}

.Row {
  display: flex;
  gap: 4px;
}

@media (max-width: 768px) {
  .Title {
    font-size: 2rem;
    text-align: center;
  }

  .Row {
    flex-direction: column;
    gap: 8px;
    height: 800px;
  }
}
