.Container {
  margin: 0 var(--horizontalMargin);
  margin-bottom: 64px;
}

.Title {
  font-size: 3rem;
  margin: 16px 0;
}


@media (max-width: 768px) {
  .Title {
    font-size: 2rem;
    text-align: center;
  }
}
