.Container {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 3;
  margin: 0 16px;
  gap: 16px 8px;
}
.CustomItem {
  flex: 24% 0 0;
}

@media (max-width: 768px) {
  .Container {
    margin: 0;
  }

  .CustomItem {
    flex: 48% 0 0;
  }
}
