.Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin: 16px 0;
  gap: 16px 8px;
  min-height: 480px;
}

@media (max-width: 768px) {
  .Container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
