.Container {
  margin: 0 var(--horizontalMargin);
  margin-top: var(--navbarHeight);
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .Row {
    flex-direction: column;
  }
}
