.Container {
  display: inline-flex;
  flex-direction: column;
  min-width: 160px;

  flex: 1;
  border-radius: 8px;
  height: 240px;
  transition: all 0.5s ease-in;
  cursor: pointer;
  border: 2px solid #ccc;
  background-image: var(--img);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.SubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-in;
  height: 50px;
}
.Container:hover {
  border: 2px solid black;
}

.Container:hover .SubContainer {
  background-color: black;
}

.Container:hover .SubContainer .Title {
  color: yellow;
}

.Title {
  text-align: center;
  font-size: 1rem;
  color: white;
  transition: all 0.5s ease-in;
}

.ImageLoading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
