.Container {
  background-color: #20232a;
  color: white;
  padding: 24px var(--horizontalMargin) 16px var(--horizontalMargin);
}

.Info {
  display: flex;
  gap: 16px;
}

.Column img {
  width: 40%;
  border-radius: 8px;
}

.Column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
  width: 50%;
}

.Bar {
  background-color: white;
  height: 1px;
  width: 100%;
  margin: 16px 0;
}
