.IconBall {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: var(--primmaryColor);
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
}
