.Container {
  display: block;
  flex-direction: column;
  flex: 3;
}

.Container p {
  text-align: justify;
  margin-bottom: 32px;
  color: #999;
  font-size: 14px;
}

.Container h1,
.Container h2 {
  color: var(--primmaryColor);
}

.Container h1::before,
.Container h2::before {
  display: block;
  content: " ";
  margin-top: -120px;
  height: 120px;
  visibility: hidden;
  pointer-events: none;
}
