.Nav {
  display: flex;
  padding: 0 var(--horizontalMargin);
  height: var(--navbarHeight);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.Home {
  display: inline-flex;
  height: 100%;
  overflow: hidden;
}

.Home img {
  margin: auto 0;
  margin-top: -24px;
  height: 150%;
  object-fit: cover;
}

.LinkContainer {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.Group {
  display: flex;
  margin-left: auto;
}

.LinkContainer:hover,
.Active {
  transition: border-width 0.1s ease-in;
  border-bottom: 3px solid var(--primmaryColor);
  color: var(--primmaryColor);
  cursor: pointer;
}

@media (max-width: 768px) {
  .Home img {
    margin-top: -12px;
  }

  a {
    font-size: 14px;
  }

  .LinkContainer {
    padding: 0 8px;
  }
}
