.Nav {
  display: flex;
  padding: 0 var(--horizontalMargin);
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.Home {
  display: inline-flex;
  height: 100%;
  width: 100px;
}

.Home img {
  margin: auto 0;
  height: 80%;
}

.LinkContainer {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.Group {
  display: flex;
  margin-left: auto;
}

.LinkContainer:hover,
.Active {
  transition: border-width 0.1s ease-in;
  border-bottom: 3px solid var(--primmaryColor);
  color: var(--primmaryColor);
  cursor: pointer;
}

@media (max-width: 768px) {
  .Home img {
    height: 60%;
  }
  .Nav {
    height: 64px;
  }

  a {
    font-size: 14px;
  }

  .LinkContainer {
    padding: 0 8px;
  }
}
