.Category {
  width: 50%;
  height: 320px;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  transition: all 1s ease;
}

.Text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.Text:hover {
  background-color: var(--primmaryColor);
}

.Category:hover {
  background-size: 120%;
}

@media (max-width: 768px) {
  .Category {
    width: 100%;
    height: 240px;
  }
}
