.Container {
  width: 100%;
}

.Title {
  text-align: center;
  font-size: 3rem;
  margin: 16px 0;
}

.Row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 160px;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .Title {
    font-size: 2rem;
    text-align: center;
  }

  .Row {
    padding: 0;
  }
}
