html,
body,
#root,
.App {
  height: 100%;
  scroll-behavior: smooth;
}

.App * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --horizontalMargin: 80px;
}

.App h1,
h2,
h3 {
  font-family: "Cabin", sans-serif;
}

.App p,
a {
  font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 768px) {
  .App * {
    --horizontalMargin: 8px;
  }
}
