.Container {
  background-color: var(--primmaryColor);
  color: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex: 1;
  gap: 16px;
}

.Container li {
  text-decoration: none;
  list-style: none;
  margin: 4px 0;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.Container li:hover,
.Container li.Active {
  background-color: black;
  color: white;
}

.Column input {
  width: 100%;
}

@media (max-width: 768px) {
  .Container {
    padding: 8px;
    margin-bottom: 16px;
    flex-direction: row;
  }
}
